<div id="sign-in-or-up" class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-sm-offset-8">
  <% if current_user %>
    <%= current_user.email %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
  <% end %>
</div>

<h1 class="conversation-title lobster text-center"><%= "#{@conversation.name}@lists.ly" %></h1>

<% @posts.each do |post| %>
  <div class="post">
    <% if post.value %>
      <div class="well"><%= post.value %></pre>
      <small><span class="glyphicon glyphicon-comment">&nbsp;</span>Sent by <%= post.sender.email %> on <%= conversation_friendly_date(post)  %></small>
    <% else %>
      <h4>No posts yet!</h4>
    <% end %>
  </div>
  <br><br>
<% end %>

<div id="footer">
  <div class="container">
    <p class="text-center">You are on a rock floating through space.</p>
  </div>
</div>
